body {
    background-color: #f8f9fa;
}

.navbar {
    margin-bottom: 20px;
}

.container {
    margin-top: 20px;
}

h2 {
    margin-bottom: 20px;
}

.card {
    margin: 10px;
}

#imagePreview img {
    max-width: 200px;
    margin: 10px;
}
